.btm{
  border-radius: 0;

  &.btn-inverse{
    background-color: transparent;
    border: 1px solid $white;
    text-transform: uppercase;
  }

  &.btn-primary{
    background-color: $red;
    color: $white;
  }
}