// Glyphicons font path
$icon-font-path: "../fonts/";

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

// Colors
$red : #a11a00;
$white : #fff;
$black : #272729;
$gray-dk1 : #a9a9a9;
$gray-dk2 : #151515;
$gray-lt1 : #fefefe;
$gray-lt2 : #f7f8f9;
$default-text : $black;


// Paths
$styles-admin-path: "../../images/admin/";
$styles-path: "../../images/";