@import "common/_variables";
// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

// Admin
.wp_option_title {
  font-size: 130%;
}

#wp_support_widget {

  .wp_support_widget_logo {
    float: left;
    padding: 0 15px 0 0;

    img {
      float: left;
    }

  }

}

