/* the form box */
/*
This is the Wordpress logo in the admin area.
You'll have to load your own images and mess
with the width and height.
*/
@import "common/_variables";

html, body {
  background: #222;
}

.login {
  h1 {
    a {

      /*background: url(../images/login-logo.png) no-repeat top center;*/
      /* make sure to replace this! */
      /*width: 274px;*/
      /*height: 65px;*/
      /*text-indent: -9999px;*/
      /*overflow: hidden;*/
      /*padding-bottom: 15px;*/
      /*display: block;*/
      /*margin: 0 auto 10px*/

      background-image: none, url('#{$styles-admin-path}ignite-logo-white.png');
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 135px 80px;
      width: auto;
      height: 80px;

    }
  }
}